<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artists</title>
</head>
<body>
<h1>Artists</h1>
<div class="search-container">
    <form id ="searchForm" action="/search" method="GET">
        <input type="text" id="searchInput" name="query" placeholder="Search">
        <ul id="suggestions" style="width: 300px; max-height: 200px; overflow-y: auto;"></ul>
        <button type="submit" id="searchButton">Search</button>
    </form>
</div>
<ul>
    {{range .}}
    <li>
        <h2><a href="/artists/{{.ID}}">{{.Name}}</a></h2>
        <img src="{{.Image}}" alt="{{.Name}} Image">
        <p><strong>Members:</strong> {{range $index, $member := .Members}}{{if $index}}, {{end}}{{.}}{{end}}.</p>
    </li>
    {{end}}
</ul>

<script>

    const searchInput = document.getElementById('searchInput');
    const suggestionsList = document.getElementById('suggestions');
    const searchButton = document.getElementById('searchButton');
    const searchForm = document.getElementById('searchForm');




    searchInput.addEventListener('input', function() {
        const query = searchInput.value.trim();
        if (query === '') {
            suggestionsList.innerHTML = '';
            return;
        }
        fetch(`/search?query=${encodeURIComponent(query)}`, {
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Ошибка при запросе: ' + response.status);
                }
                return response.json();
            })
            .then(data => {
                suggestionsList.innerHTML = '';
                if (data.artists) {
                    data.artists.forEach(artist => {
                        if (artist.members) {
                            artist.members.forEach(member => {
                                if (member.toLowerCase().includes(query.toLowerCase())) {
                                    const suggestionItem = document.createElement('li');
                                    suggestionItem.textContent = `${member} - Member in ${artist.name}`;
                                    suggestionItem.addEventListener('click', function () {
                                        window.location.href = `/artists/${artist.id}`
                                    })
                                    suggestionsList.appendChild(suggestionItem);
                                }
                            });
                        }
                        // Add an else if artists don't have members
                        if (artist.name.toLowerCase().includes(query.toLowerCase())) {
                            const suggestionItem = document.createElement('li');
                            suggestionItem.textContent = `${artist.name} - Artist/Band`;
                            suggestionItem.addEventListener('click', function () {
                                window.location.href = `/artists/${artist.id}`
                            })
                            suggestionsList.appendChild(suggestionItem);
                        }
                        const creationDateString = artist.creationDate.toString();
                        if (creationDateString.includes(query)) {
                            const suggestionItem = document.createElement('li');
                            suggestionItem.textContent = `${artist.creationDate} - CreationDate - ${artist.name}`;
                            suggestionItem.addEventListener('click', function () {
                                window.location.href = `/artists/${artist.id}`
                            })
                            suggestionsList.appendChild(suggestionItem);
                        }
                        if (artist.firstAlbum.includes(query)) {
                            const suggestionItem = document.createElement('li');
                            suggestionItem.textContent = `${artist.firstAlbum} - FirstAlbum - ${artist.name}`;
                            suggestionItem.addEventListener('click', function () {
                                window.location.href = `/artists/${artist.id}`
                            })
                            suggestionsList.appendChild(suggestionItem);
                        }
                    });
                }
                if (data.locations) {
                    data.locations.forEach(locationGroup => {
                        locationGroup.locations.forEach(location => {
                            if (location.toLowerCase().includes(query.toLowerCase())) {
                                const suggestionItem = document.createElement('li');
                                suggestionItem.textContent = `${location} - Location ${locationGroup.name}`;
                                suggestionItem.addEventListener('click', function () {
                                    window.location.href = `/artists/${locationGroup.id}`
                                })
                                suggestionsList.appendChild(suggestionItem);
                            }
                        });
                    });
                }

            })
            .catch(error => {
                console.error('Ошибка при получении данных:', error);
            });
    });

    searchButton.addEventListener('click', function(event) {
        event.preventDefault(); // Prevent the default form submission behavior
        searchForm.submit(); // Manually submit the form
    });

</script>
</body>
</html>
