<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artists</title>
</head>
<body>
<h1>Artists</h1>
<div class="search-container">
    <form action="/search" method="GET">
        <input type="text" id="searchInput" name="query" placeholder="Search">
        <ul id="suggestions" style="width: 200px; max-height: 200px; overflow-y: auto;"></ul>
        <button type="submit">Search</button>
    </form>
</div>
<ul>
    {{range .}}
    <li>
        <h2><a href="/artists/{{.ID}}">{{.Name}}</a></h2>
        <img src="{{.Image}}" alt="{{.Name}} Image">
        <p><strong>Members:</strong> {{range $index, $member := .Members}}{{if $index}}, {{end}}{{.}}{{end}}.</p>
    </li>
    {{end}}
</ul>

<script>
    const searchInput = document.getElementById('searchInput');
    const suggestionsList = document.getElementById('suggestions');

    searchInput.addEventListener('input', function() {
        const query = searchInput.value.trim();
        if (query === '') {
            suggestionsList.innerHTML = '';
            return;
        }

        fetch(`/search?query=${encodeURIComponent(query)}`, {
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Ошибка при запросе: ' + response.status);
                }
                return response.json();
            })
            .then(data => {
                suggestionsList.innerHTML = '';
                if (data.artists) {
                    data.artists.forEach(artist => {
                        const suggestionItem = document.createElement('li');
                        suggestionItem.textContent = `${artist.name} - Artist/Band`;
                        suggestionsList.appendChild(suggestionItem);
                    });
                }
                if (data.locations) {
                data.locations.forEach(locationGroup => {
                    locationGroup.locations.forEach(location => {
                        if (location.toLowerCase().includes(query.toLowerCase())) {
                            const suggestionItem = document.createElement('li');
                            suggestionItem.textContent = `${location} - Location`;
                            suggestionsList.appendChild(suggestionItem);
                        }
                    });
                });
                }

                // Check if query matches any member names
                data.artists.forEach(artist => {
                    artist.members.forEach(member => {
                        if (member.toLowerCase().includes(query.toLowerCase())) {
                            const suggestionItem = document.createElement('li');
                            suggestionItem.textContent = `${member} - Member`;
                            suggestionsList.appendChild(suggestionItem);
                        }
                    });
                });
            })
            .catch(error => {
                console.error('Ошибка при получении данных:', error);
            });
    });

</script>
</body>
</html>
